<p>products works!</p>
<div class="card">
    <div class="card-head">Lorem ipsum - products1</div>
    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptatum dolore ipsam quidem necessitatibus iure vel ab doloremque reiciendis officiis eum, sit voluptas qui illum placeat nostrum hic architecto accusantium?

    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - products2</div>
    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptatum dolore ipsam quidem necessitatibus iure vel ab doloremque reiciendis officiis eum, sit voluptas qui illum placeat nostrum hic architecto accusantium?

    </div>
</div>
